:root {
  --font-body: "Poppins", sans-serif;
  --color-background: #fff;
  --color-border: rgb(227, 227, 227);
  --color-placeholder: #aaa;
  --color-highlight: orange;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-light: rgba(0, 0, 0, 0.06);
  --color-light-background: #f1f1f1;
  --color-search-background: #fefefe;
  --color-search-border: #ccc;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  margin: 0;
  display: flex;
  font-size: 1rem;
}

.logo p {
  font-size: 2.1875em;
  font-weight: 550;
}

.container {
  display: flex;
  width: 100%;
}

nav {
  background: var(--color-background);
  border-right: 0.0625em solid var(--color-border);
  width: 21.875em;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.logo {
  order: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.logo img {
  width: 5em;
  height: 5.625em;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  order: 2;
}

.menu ul li {
  margin-bottom: 0.625em;
}

main.center {
  flex: 1;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.9375em;
  padding: 0.625em;
  padding-bottom: 3.125em;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.back-arrow {
  border-radius: 0.9375em;
  background-color: var(--color-light-background);
  padding: 0.625em;
}

.bar span {
  font-size: 1em;
  flex-grow: 1;
}

.bar input {
  width: 12.5em;
  border: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 4.0625em;
  justify-content: center;
}

.product {
  width: 16.875em;
  height: 25em;
  text-align: center;
  border-radius: 0.625em;
  margin-bottom: 1.25em;
  box-shadow: 0 0.25em 0.375em var(--color-shadow),
    0 0.0625em 0.1875em var(--color-shadow-light);
}

.product img {
  width: 15.625em;
  border-radius: 0.5em;
  height: 15.625em;
}

.bar input::placeholder {
  color: var(--color-placeholder);
}

.Search img {
  width: 1.5625em;
}

.Search {
  display: flex;
  border-radius: 0.9375em;
  padding: 0.4375em;
  background-color: var(--color-search-background);
  border: 0.0625em solid var(--color-search-border);
}

.icons {
  width: 1.875em;
  filter: brightness(0);
}

.user {
  align-self: center;
  text-align: center;
  box-shadow: 0 0.25em 0.375em var(--color-shadow),
    0 0.0625em 0.1875em var(--color-shadow-light);
  padding: 0.3125em 1.875em 0.625em 1.875em;
  border-radius: 0.9375em;
  margin-top: 3.125em;
  order: 3;
}

.user img {
  width: 9.375em;
  height: 9.375em;
  border-radius: 6.25em;
}

.user button {
  border: none;
  padding: 0.5em;
  border-radius: 0.4375em;
}

li {
  align-items: center;
  display: flex;
  padding: 0.625em 0;
  border-radius: 0.625em;
}

li img {
  margin-right: 0.625em;
}

ul:first-child {
  margin-top: 1.5625em;
}

ul li:nth-child(2) {
  background-color: var(--color-highlight);
}

li p {
  padding-left: 9.375em;
  color: var(--color-highlight);
  font-size: 0.875em;
}

header {
  margin-bottom: 3.125em;
}

.price {
  color: var(--color-highlight);
  font-size: 1.25em;
}

.product:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.highlight:hover {
  transition: 0.3s;
  background-color: var(--color-light-background);
}

@media (max-width: 768px) {
  .user {
    display: none;
  }

  nav {
    width: fit-content;
  }

  .logo p {
    display: none;
  }

  ul li:nth-child(2) {
    background-color: white;
  }
}

@media (max-width: 580px) {
  .logo img {
    width: 30px;
    height: 30px;
  }

  ul h4 {
    display: none;
  }

  li a {
    display: none;
  }

  ul li:nth-child(2) {
    background-color: white;
  }

  li {
    width: fit-content;
  }
}
